# OpenAI API Key
OPENAI_API_KEY_PERSONAL=AAAAAA
# GCP - VertexAI
GOOGLE_API_KEY=BBBBBBBB
# POSTGRES_URL
POSTGRES_URL="postgresql://user_agent:pass_agent@pgvector:5432/agent_db"
# base_url_LMStudio
base_url_LMStudio =http://10.47.20.84:1234/v1